<widget id="com.phonegap.ioscarf" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ioscarf</name>
    <description>
        iot app connecting to a wearable via BLE.
    </description>
    <author email="pierrealainlemoine@gmail.com">
        PAL
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
	<gap:plugin name="cordova-plugin-ble-central" source="npm" />
	<preference name="phonegap-version" value="cli-6.1.0" /> 
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
