@font-face {
  font-family: 'Slabo27px';
  src: url('../res/fonts/Slabo27px-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Raleway';
  src: url('../res/fonts/Raleway-Regular.ttf')  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('../res/fonts/Raleway-Bold.ttf')  format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: url('../res/fonts/Raleway-Black.ttf')  format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Raleway';
  src: url('../res/fonts/Raleway-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
	font-family: 'icons';
	src:url('../res/fonts/icons/Linearicons-Free.eot?w118d');
	src:url('../res/fonts/icons/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../res/fonts/icons/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../res/fonts/icons/Linearicons-Free.woff?w118d') format('woff'),
		url('../res/fonts/icons/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../res/fonts/icons/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iconContainer {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#deviceReady {
  display: block;
  height: 100%;
}


/* Separators for a clean vertical layout */
.separator {
  display: block;
  width: 100%;
}
.separator2 {height: 2%;}
.separator5 {height: 5%;}
.separator10 {height: 10%;}
.separator15 {height: 15%;}
.separator20 {height: 20%;}

.appPage {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease-out 0.2s, z-index 0.3s ease-out 0.2s;
}

.activePage {
  opacity: 1;
  z-index: 2;
  transition: opacity 0.3s ease-out, z-index 0.3s ease-out;
}

#actionsLayer {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  z-index: 4;
  opacity:0;
  display: none;
  background: rgba(33,33,33,0.8);
  animation: enterFromBottom 0.4s forwards cubic-bezier(.33,.92,.43,.92);
}

@keyframes enterFromBottom {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

#actionsLayer table, #actionsLayer tr,#actionsLayer td  {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

/* WALKTHROUGH PAGE STYLES */

#walkthroughPage {
  display: block;
  background: #FFF;
  padding: 0 10%;
  box-sizing: border-box;
}


#wtPages {
  width: 100%;
  margin: 0;
  background: #F3F3F2;
  border-radius: 4px;
  display: block;
  height: 60%;
  position: relative;
  overflow: visible;
}

.carousel {
  width: 100%;
}

.pageIndicator {
  display: block;
  height: 8px;
  width: 8px;
  background: #333;
  border: 2px solid #333;
  float:left;
  z-index: 2;
  margin: 5px;
  border-radius: 50%;
  transform: scale(0.4);
  transition: all .3s cubic-bezier(.71,1.87,.66,.67);
}

.pageIndicator.active {
  border: 2px solid #FFF;
  transform: scale(1);
}

.pageIndicatorContainer {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 44px);
  width: 88px;
  z-index: 2;
}

.pageIndicatorContainer:after {
  content: ' ';
  display: block;
  clear: both;
}

.pane-container {
  height: 100%;
  width: 100%;
  list-style: none;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}

.pane-container.transition {
  transition: left .3s ease-out;
}

.pane {
  float: left;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #FFF
}

.carousel li.pane:nth-child(1) div {
  color: #42d692;
}

.carousel li.pane:nth-child(2) div {
  color: #4986e7;
}

.carousel li.pane:nth-child(3) div {
  color: #d06b64;
}

.carousel li.pane:nth-child(4) div {
  color: #42d692;
}

.pane div {
  text-align: center;
  font-size: 14px;
}

.wtText {
  text-align: center;
  font-weight: black;
  font-size: 14px;
  font-family: 'Slabo27px';
  text-transform: none;
  color: #888;
  padding: 0 10%;
}

/* COMPONENTS STYLES */

/* Button */

.areYouSureTitle {
  text-align: center;
    color: #FFF;
    font-size: 24px;
    font-family: 'Slabo27px';
    margin-bottom: 10px;
}

.button  {
  width: 80%;
  margin: 0 10%;
  background: #FFF;
  border-radius: 4px;
  text-align: center;
  color: #402B30;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid #402B30;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-family: 'Raleway', sans-serif;
}

.button:hover, .button:active {
  color: #FFF;
  background: #402B30;
}


#notificationsPage {
  background: #FFF;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

#configurationPage {

}

/* Navigation Header */

.navHeader {
  height: 70px;
  width: 100%;
  display: block;
  color: #402B30;
  background: #FFF;
  border-bottom: 1px solid #DDD;
  font-weight: 700;
  font-size: 12px;
  transition: all 0.3s ease-out;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top:0;
  left:0;
  z-index: 5;
}

.navHeaderContainer {
height: 100%;
}

.navHeaderContainer:after {
  content: ' ';
  clear: both;
  display: block;
}

.backButton {
  margin: 20px 5px 5px;
  padding: 5px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  transition: all ease-out 0.3s;
  border-radius: 4px;
}
.noButton {
  margin: 20px 5px 5px;
  padding: 5px;
  width: 50px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  float: left;
  box-sizing: border-box;
}

.backButton:hover, .backButton:active  {
  color: #FFF;
  background: #402B30;
}

.rightAction {
  margin: 20px 5px 5px;
  padding: 5px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  transition: all ease-out 0.3s;
  border-radius: 4px;
}

.rightAction:hover, .rightAction:active  {
  color: #FFF;
  background: #402B30;
}

.navTitle {
  margin-top: 20px;
  width: calc(100% - 120px);
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
}

#notificationsBody {
  height: 100%;
  width: 100%;
  display:block;
  z-index: 0;
  background: #FFF;
  background: -webkit-linear-gradient(to left, #FFF , #FAFAFA);
  background: linear-gradient(to left, #FFF , #FAFAFA);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 90px 10px 10px;
  box-sizing: border-box;
}

#configBody {
  height: 100%;
  width: 100%;
  display:block;
  z-index: 0;
  background: #FFF;
  background: -webkit-linear-gradient(to left, #FFF , #FAFAFA);
  background: linear-gradient(to left, #FFF , #FAFAFA);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 90px 10px 10px;
  box-sizing: border-box;
}

#configBody h1{
  color: #F0544F;
font-family: 'Slabo27px';
  text-transform: none;
  font-size: 16px;
  margin-bottom: 10px;
}

#configBody .noActiveDevice, #configBody .activeDevice {
  font-weight: 700;
font-size: 12px;
transition: all 0.3s ease-out;
font-family: 'Raleway', sans-serif;
  color: #6C464E;
}

::-webkit-scrollbar {
    display: none;
}

.floatingButton {
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
  background: #402B30;
  border: 1px solid #402B30;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  line-height: 56px;
  font-size: 30px;
  font-weight: 900;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 0 15px 1px #888;
  cursor: pointer;
  transition : all 0.3s ease-out;
}

.floatingButton:hover,.floatingButton:active {
  background: #FFF;
  color: #402B30;
  box-shadow: 0 0 10px 0px #888;
}

/* Styles for cards */

#notifEmptyState {
  display: none;
  padding-top: 20px;
}

#notifEmptyState.show {
  display: block;
}

.notificationsList {
  display: none;
}

.notificationsList.show {
  display: block;
}

.notif {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 15px 1px #CCC;
  margin-bottom: 15px;
  transition: all ease-out 0.3s;
  position: relative;
  opacity: 0;
  transform: translateZ(20px);
  }

  .activePage .notif {
    animation: floatInNotif 0.3s forwards ease-out 1s;
  }
  .activePage .notif:nth-of-type(1) {animation-delay: 0.3s}
  .activePage .notif:nth-of-type(2) {animation-delay: 0.4s}
  .activePage .notif:nth-of-type(3) {animation-delay: 0.5s}
  .activePage .notif:nth-of-type(4) {animation-delay: 0.6s}
  .activePage .notif:nth-of-type(5) {animation-delay: 0.7s}
  .activePage .notif:nth-of-type(6) {animation-delay: 0.8s}

@keyframes floatInNotif {
0% {
  transform: translateY(20px);
  opacity: 0;
}
100% {
  transform: translateZ(0);
  opacity: 1;
}
}

.notif:after {
  clear: both;
  content: ' ';
  display: block;
}

.notif .notif_id{
  float: right;
      color: #AAA;
      font-size: 8px;
}

.notif div.phoneCall{
  display: block;
  width: 30px;
  float: left;
  min-height: 40px;
}

.notif div.phoneCall:before{
  font-family: 'icons';
  font-size: 16px;
  content: '\E830';
  color: #F0544F;
  padding: 14px 14px;
  display: block;
}

.notif .notifInfos {
  float: left;
  padding: 10px;
  width: calc(100% - 110px);
}

.notif_contacts:after {
  display: block;
  content: ' ';
  clear: both;
}

.notif_contacts {
margin-bottom: 10px;
}

.avatar {
  float: left;
  position: relative;
  width: 30px;
  height: 40px;
  display: block;
  opacity: 0;
}

.activePage .avatar {
  animation: goAvatar 0.6s forwards cubic-bezier(.33,.92,.43,.92) 0.6s;
}

.activePage .notif_contacts .avatar:nth-of-type(1) {animation-delay: 0.2s;}
.activePage .notif_contacts .avatar:nth-of-type(2) {animation-delay: 0.3s;}
.activePage .notif_contacts .avatar:nth-of-type(3) {animation-delay: 0.4s;}
.activePage .notif_contacts .avatar:nth-of-type(4) {animation-delay: 0.5s;}

@keyframes goAvatar {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

 .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #FFF;
  position: absolute;
  top: 0;
  left: 0;
}

.introNotifInfos {
  color: #6C464E;
  text-transform: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.introNotifInfos span.phoneCall:before{
  content: '  Call';
  font-weight: 700;
  color: #F0544F;
  font-family: 'Slabo27px';
  font-size: 18px;
}

.notifActions {
  float: right;
  padding: 10px;
}

.notifActions .notifButton.deleteButton {
  display: block;
  width: 30px;
  height: 30px;
  background:#FFF;
}

.notifActions .notifButton.deleteButton:before {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  content: '\E811';
  color: #F0544F;
  font-family: 'icons';
  font-size: 20px;
}

.notif.full {
 position: fixed;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 z-index: 12;
 background: #F3F3F2;
  animation: floatInNotif 0.3s forwards ease-out;
}

.notif .additionalActions {
  display: none;
}

.notif.full .additionalActions {
  float:right;
  padding: 10px;
  display: block;
}

/* Styles for devices */

.device {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 15px 1px #CCC;
  margin-bottom: 15px;
  transition: all ease-out 0.3s;
  position: relative;
  opacity: 0;
  transform: translateZ(20px);
  animation: floatInNotif 0.3s forwards ease-out 1s;
  padding: 20px;
}
 .device:nth-of-type(1) {animation-delay: 0.3s}
.device:nth-of-type(2) {animation-delay: 0.4s}
.device:nth-of-type(3) {animation-delay: 0.5s}
 .device:nth-of-type(4) {animation-delay: 0.6s}
 .device:nth-of-type(5) {animation-delay: 0.7s}
 .device:nth-of-type(6) {animation-delay: 0.8s}

.device .device_name {
font-weight: 700;
color: #333;
font-family: 'Slabo27px';
font-size: 14px;
width: 100%;
}

.device .actionBar {
width: 100%;
}

.device .deviceButton {
float: left;
}

.pushButtonHexa {
margin: 10px;
}

.device_full, .device .device_id, .device .device_rssi {
color: #888;
font-size: 12px;
width: 100%;
word-break: break-all;
}

.devicesActionBar {
height: 20px;
width: 100%;
display: block;
margin-bottom: 10px;
}

.devicesActionBar:after {
content: ' ';
clear: both;
display: block;
}

.devicesActionBar .toolBarButton{
width: 20px;
height: 20px;
display: block;
float: right;
}

.refreshButton.iconButton:before {
  width: 20px;
  line-height: 20px;
  font-family: 'icons';
  content: '\E861';
  font-size: 20px;
  text-align: center;
}
